<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias type="kr.co.goodcoffee.model.Member" alias="Member"/>
		<typeAlias type="kr.co.goodcoffee.model.Goods" alias="Goods"/>
		<typeAlias type="kr.co.goodcoffee.model.Review" alias="Review"/>
		<typeAlias type="kr.co.goodcoffee.model.Notice" alias="Notice"/>
		<typeAlias type="kr.co.goodcoffee.model.Orders" alias="Orders"/>
		<typeAlias type="kr.co.goodcoffee.model.Detail" alias="Detail"/>
		<typeAlias type="kr.co.goodcoffee.model.Inquiry" alias="Inquiry"/>
		<typeAlias type="kr.co.goodcoffee.model.Comment" alias="Comment"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="mybatis/member.xml" />
		<mapper resource="mybatis/goods.xml" />
		<mapper resource="mybatis/review.xml" />
		<mapper resource="mybatis/notice.xml" />
		<mapper resource="mybatis/orders.xml" />
		<mapper resource="mybatis/detail.xml" />
		<mapper resource="mybatis/inquiry.xml" />
		<mapper resource="mybatis/comment.xml" />
	</mappers>
</configuration>